{% extends "base.html" %}{% load static %}{% load url from future %}

{% block title %}James &amp; Ian's Wedding{% endblock %}

{% block main %}
<section class="panel" id="intro">
    <h1>Ian & James' Wedding</h1>
    <blockquote>With an eye made quiet by the power of harmony, and the deep power of joy, we see into the life of things.<span>&nbsp;&mdash;William Wordsworth</span></blockquote>
</section>
<section class="panel" id="details">
    <div>
        <p>
            Join us for a reception and ceremony on<br>
            <time>October 14<sup>th</sup> 2012, 3:00 PM</time>
            <em>at</em> <a title="Get directions." href="https://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=3100+Elm+Avenue,+Baltimore,+MD+21211&aq=0&oq=3100+elm+avenue+baltimore++21211&sll=39.325062,-76.631189&sspn=0.011652,0.02032&vpsrc=0&ie=UTF8&hq=&hnear=3100+Elm+Ave,+Baltimore,+Maryland+21211&t=m&z=16&iwloc=A">The Elm</a>,<br> 3100 Elm Avenue baltimore MD 21211
    </div>
</section>
<section class="panel" id="rsvp">
    <p>After eight years, we've decided to make it official. Please join us in celebrating the life we've built together and all the happiness that awaits.</p>
    <a href="{% url 'rsvp' %}" class="button">Please RSVP &raquo;</a>
    <p id="fineprint">In lieu of a traditional registry, we’ve set up a donation registry with <a href="http://www.equalitymaryland.org/">Equality Maryland.</a></p>
    <img src="{% static "images/vines.png" %}">
</section>
{% endblock %}